<nav>
    <div><a href="/users/dashboard">Home</a></div>
    <div><a href="/allsongs">Songs</a></div>
    <div><a href="/allsongs">Improv</a></div>
    <div><a href="/allsongs">Ear Training</a></div>
    <div><a href="/allsongs">Technique</a></div>
</nav>