<%- include ('partials/head.ejs') %>
<p class="logo"><%= title %></p>

<%- include ('partials/nav.ejs') %>
<p>Create your own songs with Rubato's chord library </p>
<%- include ('partials/footer.ejs') %>