<%- include ('partials/head.ejs') %>
<p class="logo"><%= title %></p>

<%- include ('partials/nav.ejs') %>
<div class="panel">
    <a href="/users/login">Login</a>
</div>
<%- include ('partials/footer.ejs') %>