html {
    color:rgb(31, 56, 77);
    background-color: rgb(111, 106, 86);
}

body {
    margin: 0;
}
a {
    text-decoration: none;
    color:rgb(31, 56, 77);
}

#tabs {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(201, 192, 139);
}

.panel {
margin-left: 16px;
}

.fa-circle-plus {
    margin-right: 16px;
    font-size: 21px;
}

#page {
    background-color: aliceblue;
    width:90%;
    margin: 8px;
    padding: 8px;
    height:fit-content;
    text-align: left;
}
.show-page-identifier {
    width: 100%;
    text-align: center;
}

#showSongs {
    margin-bottom: 1em;
}

.songs-heads {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.songs-head {
    font-family: "Roboto Mono", Courier, monospace;
    padding-left: 16px;
    width:auto;
    color: rgb(218, 220, 212);
    transition: all .4s;
    cursor: pointer;
}

.songs-head-disabled {
    opacity: .6;
    transition: all .4s;
}
.fa-circle-plus {
    padding-top: 2px;
    font-size: 18px;
}

.check-label {
    width: 100%;
    display: flex;
    align-items: center;
}

#dupable-check {
    margin-left: 16px;
}

.check-disabled {
    opacity: .6;
}


input [type="checkbox"] {
    width:auto;
}

#edit-song {
    margin: 4em;
}

form input {
    display: block;
}

#save-song  {
    background-color: darkgoldenrod;
    margin: .5em;
    height: 2.2em;
    border-radius: 1.1em;
    box-shadow: none;
}

nav {
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    font-family: 'Josefin Sans', sans-serif;
}

.songs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    margin: 16px;
    @media only screen and (min-width: 700px) { ;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        background-color: black !important;
    }
}

.song {
    border-radius: 4px;
    background-color: rgb(16, 39, 46);
    box-shadow: 1px 1px 3px rgb(12, 7, 46);
    padding-right: 8px;
    padding-bottom: .2em;
    padding-top: .5em;
    padding-left: .4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song-title {
    width: 100%;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: .2em;
    color: rgb(94, 157, 162);
}

.skill-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-skill {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: .6em;
    margin-bottom: .3em;
    color: rgb(166, 200, 203);

}
.icons {
    margin-bottom: 4px;
}

.song-creator {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: rgb(94, 157, 162);
    line-height: 14px;
    
}

.fa-angle-right {
    transform: translateY(1px) !important;
}

.index-icon {
    /* height: 32px;
    width: 32px; */
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    color:rgb(218, 220, 212);   
}


.index-icon-disabled {
   opacity: .5;  
}




nav a {
    color:rgb(218, 220, 212);   
}

nav div {
    background-color: transparent;
    padding: .4em;
    border-radius: 4px;
    
}

.logo {
    text-align: center;
    letter-spacing: .5em;
    font-family: 'Caveat', cursive;
    font-size: 1.7em;
    color: papayawhip;
    margin: 8px;
}

footer {
    text-align: center;
    width: 100%;
    opacity: .6;
    margin-top: 8px;
}

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'M PLUS 1 Code', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */